[Unit]
Description=Gunicorn instance to serve the AirBnB clone
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4/web_dynamic
Environment="PATH=/home/ubuntu/AirBnB_clone_v4/web_dynamic/venv/bin"
ExecStart=/home/ubuntu/AirBnB_clone_v4/web_dynamic/venv/bin/gunicorn --workers 3 --bind --error-logfile /tmp/airbnb-error.log --access-logfile /tmp/airbnb-access.log wsgi:app

[Install]
WantedBy=multi-user.target
